body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #E7EAEC;
    color: #222527;
    font-family: Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Source Han Sans CN",Roboto,"Heiti SC","Microsoft Yahei",sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/*整体风格 蓝色*/
.navbar.navbar-fixed-top {
    background: #0767c8;
    background: -webkit-linear-gradient(top,#086ed5,#055db5);
    background: linear-gradient(to bottom,#086ed5,#055db5);
    border-bottom: 1px solid #044e97;
    box-shadow: 0 1px 2px rgba(0,0,0,.25),inset 0 1px 0 rgba(255,255,255,.15);
}

 .navbar-inverse .navbar-nav > li > a  {
   color: #f2f4f5;
}
 .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background: #075fb6;
    background: -webkit-linear-gradient(top,#055fb8,#095fb3);
    background: linear-gradient(to bottom,#055fb8,#095fb3);
    box-shadow: inset 0 0 2px rgba(0,0,0,.12);
}
 .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background: #075fb6;
    background: -webkit-linear-gradient(top,#055fb8,#095fb3);
    background: linear-gradient(to bottom,#055fb8,#095fb3);
    box-shadow: inset 0 0 2px rgba(0,0,0,.12);
}

 a {
    color: #259;
}


@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #333;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #3F7FAB;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #044e97;
    }

    .navbar-nav .open .dropdown-menu {
        background-color:  #fff;
    }
}

.navbar-inverse .navbar-toggle {
    border:none;
}

.navbar-inverse .navbar-brand
{
    color: #f2f4f5;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #FFF;
    background-color: #317DDA;
}




/**/
.container.body-content
{
    margin-top:15px;
}
#left,#right
{
    padding:0px 10px;
}

#left,#right > .panel
{
    margin-bottom: 10px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

#loginForm input {
    max-width: 240px;
}


.modal input, select {
    max-width: none;
    font-size: 14px;
}


.bootstrap-select .btn-default, .bootstrap-select .btn-default.active {
    border: 0px;
    background: #FFF;
    border-bottom: 1px solid #F3F3F3;
    transition: none;
    padding-bottom: 7px;
    border-radius: 0;
}

/*testerhome css*/
.avatar-48 {
    width: 48px;
    height: 48px;
    border-radius: 2px;
}

@media (max-width: 480px) {
    .avatar-48 {
        width: 32px;
        height: 32px;
    }
    .pagination {
        display: block;
    }
    .pagination li {
        display: none;
    }

        .pagination li.prev, .pagination li.next {
            float: left;
            display: block;
        }

        .pagination li.next {
            float: right;
        }
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pagination {
    margin: 0;
}

.tbui_aside_float_bar {
    position: fixed;
    bottom: 100px;
    left: 50%;
    z-index: 1005;
}

.topic-detail .info .node {
    padding: 1px 0px;
    color: #778087;
    text-decoration: none;
    background-color: #f5f5f5;
}

.topic-detail .info a {
    color: #444;
}

.topic-detail .info {
    color: #c0c0c0;
    font-size: 12px;
}

.topics .topic .info {
    color: #aaa;
    font-size: 12px;
    margin-top: 10px;
}

.node {
        padding: 1px 5px;
        color: #778087;
        text-decoration: none;
        background-color: #f5f5f5;
}

    .topics .panel-body {
    padding: 0 15px;
}

.topics .topic {
    min-height: 68px;
    border-bottom: 1px solid #F0F0F0;
    padding: 10px 15px;
    margin: 0 -15px;
    vertical-align: top;
    position: relative;
}

    .topics .topic .state-false {
        background: #98ACDF;
    }

    .topics .topic .state-false {
        line-height: 12px;
        color: #fff;
        font-weight: bold;
        border-radius: 80px;
        padding: 2px 10px 2px 10px;
        display: inline-block;
        text-decoration: none;
    }

.avatar .uface, .avatar .media-object {
    border-radius: 120px;
}

.topics .filter a.popular {
    color: #FF8302;
}

.topics .info a.state-false {
    background: #E65C5C;
}

.topics .filter {
    padding: 3px 0 2px 0;
    font-size: 13px;
    color: #ccc;
}
.panel .panel-heading {
    background: #f5f5f5;
    border-bottom-color: #e9e9e9;
    color: #777;
}

.topic-detail .panel-heading h1 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
    text-align: left;
    line-height: 100%;
    margin-bottom: 8px;
}
 .info a {
    color: #666;
}

.topic-detail {
    margin-bottom: 0px;
}

 .panel {
    border-radius: 3px;
    border: 0px;
    box-shadow: 0 0px 1px rgba(0,0,0,0.09);
}
 .opts a:link, .opts a:visited ,.counts span,.number span{
    color: #666;
    text-decoration: none;
}
 .opts a {
    margin-right: 5px;
}
 .pull-right.opts a {
    margin-left: 5px;
    margin-right: 0px;
}
 #replies{
     margin-top:20px;
 }

 #replies .reply {
    padding: 10px 15px;
    position: relative;
    border-bottom: 1px solid #eee;
    padding-left: 74px;
}
 #replies .reply .infos {
    min-height: 48px;
}

 #replies .reply .avatar {
    text-align: center;
    position: absolute;
    top: 10px;
    left: 15px;
}
#replies .panel-body {
    padding: 0px;
}
#replies .info {
    color: #aaa;
    margin-bottom: 2px;
}
#replies .reply .info {
    font-size: 12px;
}

.sidebar.col-md-3 {
    padding-left: 0px;
    padding-right: 0px;
}

.notification-count{
    margin-right:10px;
}
.notification-count .notice {
    display:none;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 8px;
    color: #fff;
    text-align: center;
    background-color: #FF8302;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: 10px;
}

.sidebar .profile .item {
    margin-bottom: 5px;
}
 
.avatar-120 {
    width: 80px;
    height: 80px;
}

.counts, .number {
    color: #999;
}

#newTopics .topic{
        margin:0px;
        border-bottom:0px;
}

#notifications .markdownView {
    padding:0px;
}

#notifications .notification .info {
    color: #999;
    margin-bottom: 8px;
    font-size: 13px;
}

#notifications .panel-body{
    padding:0px;
    padding-top:5px;
}
#notifications .notification {
    position: relative;
    margin:0px;
    padding: 15px;
    border-bottom: 1px solid #F0F0F0;
}

#notifications .panel-footer {
    border:none;
}


.reply-floor {
    color: #7AA87A;
}

.topics .suggest_topic {
    border-color: #ddd;
    border-left: 3px solid #EB5424;
}

.topics .topic .count {
    width: 100px;
    text-align: right;
    padding-top: 15px;
}




/*markdown 图标高亮*/
i[name=preview], i[name=watch] {
    color: #317DDA;
}




/*验证控件,显示样式*/
.input-validation-error {
    border: 1px dotted red;
}


#script select.form-control,#step select.form-control{
    width:auto;
}


#script #uploadF,#step #addStep{
        border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


#stepTable textarea{
    width:100%;
    height:100%;
    min-height:150px
}

img.demoImg{
    max-width:120px;
    max-height:220px
}

#stepTable td .glyphicon-minus{
    color:red;
}

#stepTable td span{
    margin-right:10px;
}
.show-time-wrap {
    vertical-align: middle;
    text-align: center;
    float: left;
}
.show-time-wrap .show-time-number {
    color: #3c3c3c;
    font-size: 23px;
    font-family: Arial,sans-serif;
    width: 26px;
    background: url(/Content/images/daojishi.png) 3px no-repeat;
    float: left;
}

.project-expiration-wrap ,.project-expiration-count-down {
    line-height: 24px;
}

.project-expiration-wrap {
    float: left; 
}

.project-expiration-wrap .glyphicon 
{
    line-height: 24px;
}

.glyphicon.high
{
    color:#ff6a00;
}
/*
.node.script{
    color: #337ab7;
}


.node.step{
    color: #FF8302;
}*/