body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #f6f6f6;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

#loginForm input {
    max-width: 240px;
}


.modal input, select {
    max-width: none;
    font-size: 14px;
}


.bootstrap-select .btn-default, .bootstrap-select .btn-default.active {
    border: 0px;
    background: #FFF;
    border-bottom: 1px solid #F3F3F3;
    transition: none;
    padding-bottom: 7px;
    border-radius: 0;
}

/*testerhome css*/
.avatar-48 {
    width: 48px;
    height: 48px;
    border-radius: 2px;
}

@media (max-width: 480px) {
    .avatar-48 {
        width: 32px;
        height: 32px;
    }
    .pagination {
        display: block;
    }
    .pagination li {
        display: none;
    }

        .pagination li.prev, .pagination li.next {
            float: left;
            display: block;
        }

        .pagination li.next {
            float: right;
        }
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pagination {
    margin: 0;
}

.tbui_aside_float_bar {
    position: fixed;
    bottom: 100px;
    left: 50%;
    z-index: 1005;
}

.topic-detail .info .node {
    padding: 1px 0px;
    color: #778087;
    text-decoration: none;
    background-color: #f5f5f5;
}

.topic-detail .info a {
    color: #444;
}

.topic-detail .info {
    color: #c0c0c0;
    font-size: 12px;
}

.topics .topic .info {
    color: #aaa;
    font-size: 12px;
    margin-top: 10px;
}

    .topics .topic .info .node {
        padding: 1px 5px;
        color: #778087;
        text-decoration: none;
        background-color: #f5f5f5;
    }

.topics .topic {
    min-height: 68px;
    border-bottom: 1px solid #F0F0F0;
    padding: 10px 15px;
    margin: 0 -15px;
    vertical-align: top;
    position: relative;
}

    .topics .topic .state-false {
        background: #98ACDF;
    }

    .topics .topic .state-false {
        line-height: 12px;
        color: #fff;
        font-weight: bold;
        border-radius: 80px;
        padding: 2px 10px 2px 10px;
        display: inline-block;
        text-decoration: none;
    }

.avatar .uface, .avatar .media-object {
    border-radius: 120px;
}

.topics .filter a.popular {
    color: #EB5424;
}

.topics .filter {
    padding: 3px 0 2px 0;
    font-size: 13px;
    color: #ccc;
}

.sidebar table td{

}



/*markdown 图标高亮*/
i[name=preview], i[name=watch] {
    color: #317DDA;
}




/*验证控件*/
input.input-validation-error {
    border: 1px dotted red;
}
