/openCaseMaster/fonts/*
/openCaseMaster/bin/Antlr3.Runtime.pdb
/openCaseMaster/bin/Antlr3.Runtime.dll
/openCaseMaster/bin/EntityFramework.dll
/openCaseMaster/bin/EntityFramework.SqlServer.dll
/openCaseMaster/bin/EntityFramework.SqlServer.xml
/openCaseMaster/bin/EntityFramework.xml
/openCaseMaster/bin/Microsoft.Web.Infrastructure.dll
/openCaseMaster/bin/Newtonsoft.Json.dll
/openCaseMaster/bin/Newtonsoft.Json.xml
/openCaseMaster/bin/openCaseMaster.dll
/openCaseMaster/bin/openCaseMaster.dll.config
/openCaseMaster/bin/openCaseMaster.pdb
/openCaseMaster/bin/System.Web.Helpers.dll
/openCaseMaster/bin/System.Web.Helpers.xml
/openCaseMaster/bin/System.Web.Mvc.dll
/openCaseMaster/bin/System.Web.Mvc.xml
/openCaseMaster/bin/System.Web.Optimization.dll
/openCaseMaster/bin/System.Web.Optimization.xml
/openCaseMaster/bin/System.Web.Razor.dll
/openCaseMaster/bin/System.Web.Razor.xml
/openCaseMaster/bin/System.Web.WebPages.Deployment.dll
/openCaseMaster/bin/System.Web.WebPages.Deployment.xml
/openCaseMaster/bin/System.Web.WebPages.dll
/openCaseMaster/bin/System.Web.WebPages.Razor.dll
/openCaseMaster/bin/System.Web.WebPages.Razor.xml
/openCaseMaster/bin/System.Web.WebPages.xml
/openCaseMaster/bin/WebGrease.dll
/openCaseMaster/bin/zh-Hans/EntityFramework.resources.dll
/openCaseMaster/bin/zh-Hans/EntityFramework.SqlServer.resources.dll
/openCaseMaster/bin/zh-Hans/System.Web.Helpers.resources.dll
/openCaseMaster/bin/zh-Hans/System.Web.Mvc.resources.dll
/openCaseMaster/bin/zh-Hans/System.Web.Optimization.resources.dll
/openCaseMaster/bin/zh-Hans/System.Web.Razor.resources.dll
/openCaseMaster/bin/zh-Hans/System.Web.WebPages.Deployment.resources.dll
/openCaseMaster/bin/zh-Hans/System.Web.WebPages.Razor.resources.dll
/openCaseMaster/bin/zh-Hans/System.Web.WebPages.resources.dll
/openCaseMaster/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/openCaseMaster/obj/Debug/edmxResourcesToEmbed/Models/masterDate.csdl
/openCaseMaster/obj/Debug/edmxResourcesToEmbed/Models/masterDate.msl
/openCaseMaster/obj/Debug/edmxResourcesToEmbed/Models/masterDate.ssdl
/openCaseMaster/obj/Debug/openCaseMaster.csproj.FileListAbsolute.txt
/openCaseMaster/obj/Debug/openCaseMaster.dll
/openCaseMaster/obj/Debug/openCaseMaster.pdb
/openCaseMaster/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/openCaseMaster/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/openCaseMaster/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
