<br />
<div class="panel panel-default">
    <div class="panel-heading">发布新任务</div>
    <div class="panel-body">

      
        @using (Html.BeginForm("add", "PublicTest", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="input-group">
            <span class="node-select input-group-btn">
                <select data-width="140px" data-live-search="true" class="show-menu-arrow" name="topic[node_id]" id="topic_node_id" style="display: none;">
                    <option value="">选择节点</option>
                    <optgroup label="移动测试">
                        <option value="31">其他测试框架</option>
                        <option value="32">移动性能测试</option>
                        <option value="39">Robotium</option>
                        <option value="23">Appium</option>
                        <option value="42">Android CTS</option>
                        <option value="33">移动测试基础</option>
                        <option value="34">移动安全测试</option>
                        <option value="35">Calabash</option>
                        <option value="36">新手区</option>
                        <option value="45">Android 开发基础</option>
                        <option value="54">MonkeyRunner</option>
                        <option value="43">MonkeyTalk</option>
                        <option value="51">iOS 测试</option>
                        <option value="52">Selendroid</option>
                        <option value="53">UiAutomator</option>
                        <option value="68">Macaca</option>
                    </optgroup>
                    <optgroup label="游戏测试">
                        <option value="65">Linux</option>
                        <option value="66">接口协议</option>
                    </optgroup>
                    <optgroup label="技术交流">
                        <option value="40">习惯性伸手党区</option>
                        <option value="15">白盒测试</option>
                        <option value="16">前端测试</option>
                        <option value="25">通用技术</option>
                        <option value="41">BDD</option>
                        <option value="44">测试管理</option>
                        <option value="46">持续集成</option>
                        <option value="48">Docker</option>
                        <option value="62">接口测试</option>
                    </optgroup>
                    <optgroup label="测试资料">
                        <option value="1">资讯点评</option>
                        <option value="2">自动化测试工具</option>
                        <option value="3">性能测试工具</option>
                        <option value="22">测试书籍</option>
                    </optgroup>
                    <optgroup label="测试服务">
                        <option value="6">云测服务</option>
                        <option value="8">产品与解决方案</option>
                        <option value="26">商业培训</option>
                        <option value="19">招聘</option>
                        <option value="47">移动应用 Bug 广播站</option>
                        <option value="67">TesterHome 公开课</option>
                    </optgroup>
                    <optgroup label="生活区">
                        <option value="11">灌水</option>
                        <option value="12">职业</option>
                        <option value="20">每周问答</option>
                        <option value="24">活动沙龙</option>
                        <option value="37">匿名吐槽</option>
                        <option value="38">小道消息</option>
                    </optgroup>
                    <optgroup label="商业服务">
                        <option value="49">fir.im</option>
                        <option value="50">OneAPM</option>
                        <option value="64">百度MTC</option>
                        <option value="57">DaoCloud</option>
                        <option value="61">SWATHub</option>
                    </optgroup>
                    <optgroup label="TesterHome"><option value="13">站务</option></optgroup>
                    <optgroup label="开源项目"><option value="63">开源测试工具</option></optgroup>
                </select><div class="btn-group bootstrap-select show-menu-arrow" style="width: 140px;"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" data-id="topic_node_id" title="选择节点" aria-expanded="false"><span class="filter-option pull-left">选择节点</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open" style="max-height: 803px; overflow: hidden; min-height: 134px;"><div class="bs-searchbox"><input type="text" class="input-block-level form-control" autocomplete="off"></div><ul class="dropdown-menu inner selectpicker" role="menu" style="max-height: 749px; overflow-y: auto; min-height: 80px;"><li data-original-index="0" class="selected active"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>选择节点</span>"><span class="text">选择节点</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li class="divider" data-original-index="null"></li><li class="dropdown-header" data-original-index="null"><span class="text">移动测试</span></li><li data-original-index="1" class=""><a tabindex="0" class="opt " data-optgroup="1" data-normalized-text="<span class=&quot;text&quot;>其他测试框架</span>"><span class="text">其他测试框架</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2" class=""><a tabindex="0" class="opt " data-optgroup="1" data-normalized-text="<span class=&quot;text&quot;>移动性能测试</span>"><span class="text">移动性能测试</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="3" class=""><a tabindex="0" class="opt " data-optgroup="1" data-normalized-text="<span class=&quot;text&quot;>Robotium</span>"><span class="text">Robotium</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="4" class=""><a tabindex="0" class="opt " data-optgroup="1" data-normalized-text="<span class=&quot;text&quot;>Appium</span>"><span class="text">Appium</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="5" class=""><a tabindex="0" class="opt " data-optgroup="1" data-normalized-text="<span class=&quot;text&quot;>Android CTS</span>"><span class="text">Android CTS</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="6" class=""><a tabindex="0" class="opt " data-optgroup="1" data-normalized-text="<span class=&quot;text&quot;>移动测试基础</span>"><span class="text">移动测试基础</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="7" class=""><a tabindex="0" class="opt " data-optgroup="1" data-normalized-text="<span class=&quot;text&quot;>移动安全测试</span>"><span class="text">移动安全测试</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="8" class=""><a tabindex="0" class="opt " data-optgroup="1" data-normalized-text="<span class=&quot;text&quot;>Calabash</span>"><span class="text">Calabash</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="9" class=""><a tabindex="0" class="opt " data-optgroup="1" data-normalized-text="<span class=&quot;text&quot;>新手区</span>"><span class="text">新手区</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="10" class=""><a tabindex="0" class="opt " data-optgroup="1" data-normalized-text="<span class=&quot;text&quot;>Android 开发基础</span>"><span class="text">Android 开发基础</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="11" class=""><a tabindex="0" class="opt " data-optgroup="1" data-normalized-text="<span class=&quot;text&quot;>MonkeyRunner</span>"><span class="text">MonkeyRunner</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="12" class=""><a tabindex="0" class="opt " data-optgroup="1" data-normalized-text="<span class=&quot;text&quot;>MonkeyTalk</span>"><span class="text">MonkeyTalk</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="13" class=""><a tabindex="0" class="opt " data-optgroup="1" data-normalized-text="<span class=&quot;text&quot;>iOS 测试</span>"><span class="text">iOS 测试</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="14" class=""><a tabindex="0" class="opt " data-optgroup="1" data-normalized-text="<span class=&quot;text&quot;>Selendroid</span>"><span class="text">Selendroid</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="15" class=""><a tabindex="0" class="opt " data-optgroup="1" data-normalized-text="<span class=&quot;text&quot;>UiAutomator</span>"><span class="text">UiAutomator</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="16" class=""><a tabindex="0" class="opt " data-optgroup="1" data-normalized-text="<span class=&quot;text&quot;>Macaca</span>"><span class="text">Macaca</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li class="divider" data-original-index="null"></li><li class="dropdown-header" data-original-index="null"><span class="text">游戏测试</span></li><li data-original-index="17" class=""><a tabindex="0" class="opt " data-optgroup="2" data-normalized-text="<span class=&quot;text&quot;>Linux</span>"><span class="text">Linux</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="18" class=""><a tabindex="0" class="opt " data-optgroup="2" data-normalized-text="<span class=&quot;text&quot;>接口协议</span>"><span class="text">接口协议</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li class="divider" data-original-index="null"></li><li class="dropdown-header" data-original-index="null"><span class="text">技术交流</span></li><li data-original-index="19" class=""><a tabindex="0" class="opt " data-optgroup="3" data-normalized-text="<span class=&quot;text&quot;>习惯性伸手党区</span>"><span class="text">习惯性伸手党区</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="20" class=""><a tabindex="0" class="opt " data-optgroup="3" data-normalized-text="<span class=&quot;text&quot;>白盒测试</span>"><span class="text">白盒测试</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="21" class=""><a tabindex="0" class="opt " data-optgroup="3" data-normalized-text="<span class=&quot;text&quot;>前端测试</span>"><span class="text">前端测试</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="22" class=""><a tabindex="0" class="opt " data-optgroup="3" data-normalized-text="<span class=&quot;text&quot;>通用技术</span>"><span class="text">通用技术</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="23" class=""><a tabindex="0" class="opt " data-optgroup="3" data-normalized-text="<span class=&quot;text&quot;>BDD</span>"><span class="text">BDD</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="24" class=""><a tabindex="0" class="opt " data-optgroup="3" data-normalized-text="<span class=&quot;text&quot;>测试管理</span>"><span class="text">测试管理</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="25" class=""><a tabindex="0" class="opt " data-optgroup="3" data-normalized-text="<span class=&quot;text&quot;>持续集成</span>"><span class="text">持续集成</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="26" class=""><a tabindex="0" class="opt " data-optgroup="3" data-normalized-text="<span class=&quot;text&quot;>Docker</span>"><span class="text">Docker</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="27" class=""><a tabindex="0" class="opt " data-optgroup="3" data-normalized-text="<span class=&quot;text&quot;>接口测试</span>"><span class="text">接口测试</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li class="divider" data-original-index="null"></li><li class="dropdown-header" data-original-index="null"><span class="text">测试资料</span></li><li data-original-index="28" class=""><a tabindex="0" class="opt " data-optgroup="4" data-normalized-text="<span class=&quot;text&quot;>资讯点评</span>"><span class="text">资讯点评</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="29" class=""><a tabindex="0" class="opt " data-optgroup="4" data-normalized-text="<span class=&quot;text&quot;>自动化测试工具</span>"><span class="text">自动化测试工具</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="30" class=""><a tabindex="0" class="opt " data-optgroup="4" data-normalized-text="<span class=&quot;text&quot;>性能测试工具</span>"><span class="text">性能测试工具</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="31" class=""><a tabindex="0" class="opt " data-optgroup="4" data-normalized-text="<span class=&quot;text&quot;>测试书籍</span>"><span class="text">测试书籍</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li class="divider" data-original-index="null"></li><li class="dropdown-header" data-original-index="null"><span class="text">测试服务</span></li><li data-original-index="32" class=""><a tabindex="0" class="opt " data-optgroup="5" data-normalized-text="<span class=&quot;text&quot;>云测服务</span>"><span class="text">云测服务</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="33" class=""><a tabindex="0" class="opt " data-optgroup="5" data-normalized-text="<span class=&quot;text&quot;>产品与解决方案</span>"><span class="text">产品与解决方案</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="34" class=""><a tabindex="0" class="opt " data-optgroup="5" data-normalized-text="<span class=&quot;text&quot;>商业培训</span>"><span class="text">商业培训</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="35" class=""><a tabindex="0" class="opt " data-optgroup="5" data-normalized-text="<span class=&quot;text&quot;>招聘</span>"><span class="text">招聘</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="36" class=""><a tabindex="0" class="opt " data-optgroup="5" data-normalized-text="<span class=&quot;text&quot;>移动应用 Bug 广播站</span>"><span class="text">移动应用 Bug 广播站</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="37" class=""><a tabindex="0" class="opt " data-optgroup="5" data-normalized-text="<span class=&quot;text&quot;>TesterHome 公开课</span>"><span class="text">TesterHome 公开课</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li class="divider" data-original-index="null"></li><li class="dropdown-header" data-original-index="null"><span class="text">生活区</span></li><li data-original-index="38" class=""><a tabindex="0" class="opt " data-optgroup="6" data-normalized-text="<span class=&quot;text&quot;>灌水</span>"><span class="text">灌水</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="39" class=""><a tabindex="0" class="opt " data-optgroup="6" data-normalized-text="<span class=&quot;text&quot;>职业</span>"><span class="text">职业</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="40" class=""><a tabindex="0" class="opt " data-optgroup="6" data-normalized-text="<span class=&quot;text&quot;>每周问答</span>"><span class="text">每周问答</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="41" class=""><a tabindex="0" class="opt " data-optgroup="6" data-normalized-text="<span class=&quot;text&quot;>活动沙龙</span>"><span class="text">活动沙龙</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="42" class=""><a tabindex="0" class="opt " data-optgroup="6" data-normalized-text="<span class=&quot;text&quot;>匿名吐槽</span>"><span class="text">匿名吐槽</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="43" class=""><a tabindex="0" class="opt " data-optgroup="6" data-normalized-text="<span class=&quot;text&quot;>小道消息</span>"><span class="text">小道消息</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li class="divider" data-original-index="null"></li><li class="dropdown-header" data-original-index="null"><span class="text">商业服务</span></li><li data-original-index="44" class=""><a tabindex="0" class="opt " data-optgroup="7" data-normalized-text="<span class=&quot;text&quot;>fir.im</span>"><span class="text">fir.im</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="45" class=""><a tabindex="0" class="opt " data-optgroup="7" data-normalized-text="<span class=&quot;text&quot;>OneAPM</span>"><span class="text">OneAPM</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="46" class=""><a tabindex="0" class="opt " data-optgroup="7" data-normalized-text="<span class=&quot;text&quot;>百度MTC</span>"><span class="text">百度MTC</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="47" class=""><a tabindex="0" class="opt " data-optgroup="7" data-normalized-text="<span class=&quot;text&quot;>DaoCloud</span>"><span class="text">DaoCloud</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="48" class=""><a tabindex="0" class="opt " data-optgroup="7" data-normalized-text="<span class=&quot;text&quot;>SWATHub</span>"><span class="text">SWATHub</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li class="divider" data-original-index="null"></li><li class="dropdown-header" data-original-index="null"><span class="text">TesterHome</span></li><li data-original-index="49" class=""><a tabindex="0" class="opt " data-optgroup="8" data-normalized-text="<span class=&quot;text&quot;>站务</span>"><span class="text">站务</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li class="divider" data-original-index="null"></li><li class="dropdown-header" data-original-index="null"><span class="text">开源项目</span></li><li data-original-index="50" class=""><a tabindex="0" class="opt " data-optgroup="9" data-normalized-text="<span class=&quot;text&quot;>开源测试工具</span>"><span class="text">开源测试工具</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div></div>
            </span>
            <input class="form-control" placeholder="在这里填写标题" type="text" name="topic[title]" id="topic_title">
        </div>
    </div>


            <ul id="myTab" class="nav nav-tabs" style="border-bottom:0px;">
                <li class="active">
                    <a href="#edit" data-toggle="tab">
                        编辑
                    </a>
                </li>
                <li><a href="#view" data-toggle="tab">预览</a></li>
                <li><a href="#scrpit" data-toggle="tab">案例</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="edit" >
                    <textarea placeholder="支持 markdown 语法" id="wmd" class="form-control" rows="20" identify="topic-editor-form" name="topic[body]" style="height: 400px; display: block;max-width:none"></textarea>
                </div>
                <div class="tab-pane fade" id="view">
                    <div id="preview" class="form-control" style="display: block;border-radius: 4px;min-height: 500px;overflow-y: scroll;"></div>
                </div>
                <div class="tab-pane fade" id="scrpit">
                    <div id="scrpitview" class="form-control" style="display: block;border-radius: 4px;min-height:200px;overflow-y: scroll;">
                        <input type="button" value="上传案例" />
                    </div>
                </div>
                
            </div>
            
        }
    </div>
</div>

<script>
   $(function(){
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      // 获取已激活的标签页的名称
      var activeTab = $(e.target).text(); 
      if(activeTab=="预览")
      {
          var mdstr = $("#wmd").val();
          $("#preview").html("loading...");
          $("#preview").load("markdown", { body: mdstr });
      }
   });
});
</script>