@{
    ViewBag.Title = "About";
}
<h2>未开放</h2>

<address>
    <strong>Support:</strong>   <a href="mailto:176560744@qq.com">176560744@qq.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:176560744@qq.com">176560744@qq.com</a>
</address>
