@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>未开放</h1>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>




<address>
    <strong>Support:</strong>   <a href="mailto:176560744@qq.com">176560744@qq.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:176560744@qq.com">176560744@qq.com</a>
</address>