@using openCaseMaster.ViewModels
@model SceneViewModel

<input id="SceneID" type="hidden" value="@Model.ID" />

 <table id="SceneTable" class="easyui-datagrid" title="@Model.name"
       data-options="rownumbers:true,singleSelect:true,url:'SceneCaseData/@Model.ID',method:'get', pageSize: 10,
        iconCls:'icon-movie_grey',collapsible:true,pagination:true,toolbar:'#SceneTool',onDblClickRow:viewRecord">
    <thead>
			<tr>
				<th data-options="field:'name',width:180,formatter:formatName">案例名</th>
				<th data-options="field:'state',width:80,align:'center'">状态</th>
				<th data-options="field:'result',width:80,align:'center',formatter:formatResult">执行结果</th>
				<th data-options="field:'flow',width:120,align:'center'">流量消耗</th>
				<th data-options="field:'runDate',width:260,align:'center'">执行时间</th>
			</tr>
		</thead>

    
    </table>

<div id="SceneTool" style="padding:5px;height:auto">
    <a class="easyui-linkbutton" href="javascript:void(0);"  title="查看详细记录" data-options="plain:true,iconCls:'icon-search'" onclick="viewRecord()"></a>
   <a class="easyui-linkbutton" href="javascript:void(0);"  title="重新执行" data-options="plain:true,iconCls:'icon-reload'" onclick="ResetCase()"></a>
    <a class="easyui-linkbutton" href="javascript:void(0);"  title="手工确认" data-options="plain:true,iconCls:'icon-contact_blue_edit'" onclick="userCompletedModel()"></a>
</div>

<div class="modal fade" data-backdrop="static" id="SceneModal" tabindex="-1" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <div class="input-group input-group-sm" style="margin:auto">
                <h4>手工确认</h4>
</div>
        </div>
        <div class="modal-body" style="padding:20px">
            
 
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    data-dismiss="modal">
                取消
            </button>
            <button type="button" class="btn btn-primary" onclick="userCompleted()">
                确认
            </button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="caseModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         
           
           <div id="Record"></div>
        
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

<script type="text/javascript">
    //@@ sourceURL=SceneView.js

    function formatName(value, row) {
        return '<div title="' + row.ID + '" class="easyui-tooltip">' + row.name + '</div>';
    }

    function formatResult(value, row) {
        if (value == null) return "";
        var color = "#FF0000";
        switch(value)
        {
            case "成功":
                color = "#32CD32";
                break;
            case "确认":
                color = "#0000FF";
                break;
            default:
                break;
        }

        return "<font color='" + color + "' title='" + row.mark + "'>" + value + "</font>";
    }

    function viewRecord() 
    {
        $('#caseModal').on('shown.bs.modal', function () {
            $.parser.parse('#Record');
        })

        var row = $('#SceneTable').datagrid('getSelected');
        if (row == null) return;
        var ID = row.ID;
        var url = "/RunCase/caseRecord/" + ID;

        $('#Record').empty();
        $('#Record').load(url, function () {
            //$.parser.parse('#Record');
            $('#caseModal').modal();
        });
      
       
    }

    function ResetCase() {
        var row = $('#SceneTable').datagrid('getSelected');
        if (row == null) return;

        var rowIndex = $('#SceneTable').datagrid('getRowIndex', row);
        $.messager.confirm('Message', '确认重置该案例吗?', function (r) {
            if (r) {
                $.post("CaseErrorReset", { "id": row.ID }, function (result) {
                    $('#SceneTable').datagrid('updateRow', {
                        index: rowIndex,
                        row: $.parseJSON(result)
                    });
                    
                }).error(function () { alert("error"); });
            }
        });
    }

    function userCompletedModel()
    {
        var row = $('#SceneTable').datagrid('getSelected');
        if (row == null) return;

        $("#SceneModal .modal-body").load("userCompleted/" + row.ID, function () {
            $('#SceneModal').modal();
        });

       
    }

    function userCompleted() {
        var row = $('#SceneTable').datagrid('getSelected');
        if (row == null) return;
    
        var mark = document.getElementById("userMark").value;
        var rowIndex = $('#SceneTable').datagrid('getRowIndex', row);

        $.post("userCompleted/" + row.ID, { "mark": mark }, function (result) {
           

            $('#SceneTable').datagrid('updateRow', {
                index: rowIndex,
                row: $.parseJSON(result)
            });
            document.getElementById("userMark").value = "";
            $('#SceneModal').modal("hide");

        }).error(function () { alert("error"); });
    }

</script>