@using openCaseMaster.Models
@model M_runTestCase
             
<div class="input-group">
         <span class="input-group-addon">备注</span>
         <textarea id="userMark" class="form-control" style="width:100%;max-width: initial;height:150px; " >@Model.mark</textarea>
      </div>
