@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        .tips {
            padding: 3em 0 5em;
            background: linear-gradient(to bottom, rgba(239,239,239,1) 0%,rgba(255,255,255,0.62) 38%,rgba(255,255,255,0) 100%);
        }
</style>
    
</head>
<body>
    <div id="wedding" class="tips">
					<div class="col-md-6 tips-left">
						<h4><span>Tips For</span> Her</h4>
						<div class="tips-left-fig">
							<img src="http://demo1.cssmoban.com/cssthemes3/cpts_231_jb/images/3.png" alt=" " title="Bride">
						</div>
						<div class="tips-left-text">
							<p class="amet"><a href="single.html"><i>saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
								</i></a></p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<div class="tips-read">
								<a href="single.html" class="hvr-bounce-to-top1">READ MORE</a>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 tips-left">
						<h4><span>Tips For</span> Him</h4>
						<div class="tips-left-fig">
							<img src="http://demo1.cssmoban.com/cssthemes3/cpts_231_jb/images/2.png" alt=" " title="Bridegroom">
						</div>
						<div class="tips-left-text">
							<p class="amet"><a href="single.html"><i>saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
								</i></a></p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<div class="tips-read">
								<a href="single.html" class="hvr-bounce-to-top1">READ MORE</a>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
</body>
</html>
