

@section Scripts {
@Styles.Render("~/Content/uploader")
@Scripts.Render("~/bundles/uploader")
    @Styles.Render("~/Content/easyui")
    @Scripts.Render("~/bundles/easyui")


<style type="text/css">
    input[type="image"] {
        padding:2px;
    }

    #DemandPanel input{
        color:#000000;
    }
</style>
 
}


<div class="row">
    <div id="left" class="col-md-4" style="padding:5px">

        <div class="easyui-panel" title="测试执行" style="display: block; max-height:600px; width: 100%; padding:5px;" data-options="iconCls:'icon-filter',closable:false,
    collapsible:true,minimizable:false,maximizable:false">

            <div class="easyui-panel" style="margin-bottom:5px">
                <input type="image" title="新增文件夹" src="~/Content/img/folder_classic_add.png" onclick="ClickAddNew(0);">
                <input type="image" title="添加测试计划" src="~/Content/img/clock_add.png" onclick="ClickAddNew(1);">
                <input type="image" title="修改信息" src="~/Content/img/contact_blue_edit.png" onclick="ClickEdit()">
                <input type="image" title="删除" src="~/Content/img/contact_blue_remove.png" onclick="DeleteDemand()">
            </div>
            
                <ul id="runCaseTreeList"></ul>
        </div>
        

    </div>

    <div id="right" class="col-md-8" style="padding:5px">

        <div id="DemandPanel" class="easyui-panel" style="border:none;width:100%">

        </div>
        <div style="padding:5px"></div>
    
        <div id="ScenePanel" class="easyui-panel"  style="border:none;width:100%">

        </div>

    </div>


</div>


<div id="dialog" style="padding: 10px 60px 10px;overflow:hidden;"></div>
<script type="text/javascript">

    $(function () {
       
        $('#runCaseTreeList').tree({
            url: '/TestCase/projectListInit',
            lines: true,
            animate: true,
            dnd: false,
            onBeforeExpand: function (node, param) {
                if (!node.hasOwnProperty('PID')) {
                    if (node.type == 0)
                        $(this).tree('options').url = "/RunCase/folderExpanded/" + node.DemandID;
                    //else //Tree不再显示场景,此逻辑暂不生效
                        //$(this).tree('options').url = "/RunCase/DemandScene/" + node.DemandID;
                }
                else
                    $(this).tree('options').url = "/RunCase/getFileByProject/" + node.PID;
                //param.myattr = 'test';    // or change request parameter
            },
            onClick: function (node) {
                /*
                if (node.id) {//Tree不再显示场景,此逻辑暂不生效
                    refreshScene(node.id,node.DemandID);
                } else */
                if (node.type == 1)
                {
                    refreshDemand(node.DemandID);
                }

            },
            onDblClick: function (node) {
                if (node.type == 0 || node.PID)
                    $.messager.confirm('Message', '确认重新刷新节点数据?', function (r) {
                        if (r)
                            $('#runCaseTreeList').tree("reload", node.target);//刷新
                    });
            }
        });

      

    });

    function refreshDemand(DemandID) {
        document.getElementById("ScenePanel").style.display = "none";
        $('#DemandPanel').panel('refresh', 'DemandView/' + DemandID);
        document.getElementById("DemandPanel").style.display = "block";
    }

    function refreshScene(ID) {
        $('#ScenePanel').panel('refresh', 'SceneView/' + ID);
        document.getElementById("ScenePanel").style.display = "block";
    }

    //弹出层
    function ClickAddNew(type) {
        var node = $("#runCaseTreeList").tree("getSelected");
        if (node.type == 1) {
            var ParentNode = $("#runCaseTreeList").tree("getParent", node.target);
            $("#runCaseTreeList").tree("select", ParentNode.target);
            node = $("#runCaseTreeList").tree("getSelected");
        }


        var url = "/RunCase/AddNew?baseID=" + node.DemandID + "&PID=" + node.PID + "&type=" + type;
        $('#dialog').dialog({
            title: 'Creat New',
            width: 400,
            closed: false,
            cache: false,
            href: url,
            modal: true
        });

    }

    function ClickEdit() {
        var node = $("#runCaseTreeList").tree("getSelected");
        if (typeof (node.DemandID) == "undefined") {
            $.messager.alert('Error', '不能修改项目信息!', "warning");
            return;
        }
        var url = "/RunCase/EditDemand/" + node.DemandID;
        $('#dialog').dialog({
            title: 'Edit Info',
            width: 400,
            closed: false,
            cache: false,
            href: url,
            modal: true
        });

    }

    function DeleteDemand() {

        var node = $("#runCaseTreeList").tree("getSelected");

        var msg = ' <span style=\'color:blue\'>' + node.text + '</span>';
        $.messager.confirm('Message', '确认删除:' + msg + '?', function (r) {
            if (r) {
                if (typeof (node.DemandID) == "undefined") {
                    $.messager.alert('Error', '不能删除项目!', "warning");
                    return;
                }


                $.post("/RunCase/DeleteDemand", { ID: node.DemandID }, function (result) {
                    if (result == "True") {
                        var node = $("#runCaseTreeList").tree("getSelected").target;
                        var nodeParent = $("#runCaseTreeList").tree("getParent", node);

                        if (nodeParent.children.length <= 1)//删除最后会使文件夹失效所以 使用 reload
                            $('#runCaseTreeList').tree("reload", nodeParent.target);//刷新
                        else
                            $("#runCaseTreeList").tree("remove", node);
                    } else
                        $.messager.alert('Error', result, "error");

                });
                //删除
            }
        });
    }
   
    function reloadNode() {
        var selectNode = $('#runCaseTreeList').tree("getSelected").target;
        $('#runCaseTreeList').tree("reload", selectNode);//刷新

    }
</script>

