
@using openCaseMaster.Models;

@model M_testCase
           
 <input id="ID" type="hidden" value="@Model.ID" />
<div class="easyui-panel" style="margin-bottom:5px">
    <a href="javascript:void(0)" id="mb" class="easyui-menubutton" style="width:100px"
       data-options="menu:'#C1',iconCls:'icon-edit'">编辑</a>
    <div id="C1" style="width:150px;">
        <div data-options="iconCls:'icon-save'" onclick="scriptSave();">保存</div>
        <div class="menu-sep"></div>
        <div data-options="iconCls:'icon-add'">
            <span>新增步骤</span>
            <div>
                <div>上一步</div>
                <div>下一步</div>
            </div>
        </div>
        <div data-options="iconCls:'icon-remove'" onclick="DeleteCase();">删除节点</div>
    </div>
    <a href="javascript:void(0)" id="mb" class="easyui-menubutton" style="width:100px"
       data-options="menu:'#C2',iconCls:'icon-ok'">操作</a>
    <div id="C2" style="width:150px;">
        <div data-options="iconCls:'icon-box_add'" onclick="">自定义组件</div>
        <div class="menu-sep"></div>
        <div data-options="iconCls:'icon-media_controls_dark_play'" onclick="">执行案例</div>
      
    </div>
</div>

<ul id="scriptTree"></ul>

<script type="text/javascript">
    //@@ sourceURL=scriptView.js  第三处改动
    var data = @Html.Raw(Model.getScript2Json());
    $('#scriptTree').tree({
        data:data,
        dnd:true,
        checkbox:true,
        pointType:["top","top","bottom","bottom"],
        animate:true,
        lines:true,
        onLoadSuccess:function(node, data){
            var nodes = $('#scriptTree').tree("getRoots")
            $(nodes).each(function()
            {
                $($("#scriptTree").tree("getChildren",this.target)).each(function(){
                    $(this.target).children().removeClass("tree-checkbox");
                })
            });
        },
        onBeforeDrag:function(node){
            if($("#scriptTree").tree("getParent",node.target))
                return false;
           
        },
        onDragOver:function(target, source){
            if($("#scriptTree").tree("getParent",target))
                return false;
        }
    });

    function scriptSave()
    {
        var nodes= $('#scriptTree').tree("getRoots");
        var steps=[];
        
        var n;
        for (n in nodes )
        {
            var step = {};
            var node = nodes[n];
            var p = {};
            for (c in node.children)
            {
                var child = node.children[c];
                p[child.Key] = child.Value;
            }
            step["desc"] = node.desc;
            step["ParamBinding"] = p;
            step["name"] = node.name;
            steps.push(step);
        }
      
        $.post("/TestCase/editScript/"+$('#ID').val(), { steps: JSON.stringify(steps)  }, function (result) {
            alert(result);
            if (result == "True") {
                alert(1);
            }
        });

    }
    

    </script>