@Styles.Render("~/Content/easyui")
@Scripts.Render("~/bundles/easyui")
<link rel="stylesheet" type="text/css" href="/Content/themes/icon.css">


<style type="text/css">
     #zlight-nav{
        padding-top: 5px;
    }
    #zlight-nav input{
        padding-left: 3px;
       padding-right: 3px;
    }
    #right .panel
    {
        margin-bottom:5px;
    }
</style>




<div class="row">
    <div id="left" class="col-md-4" style="padding:5px">

        <div class="easyui-panel" title="测试案例" style="display: block; width: 100%; padding:5px;" data-options="iconCls:'icon-filter',closable:false,
    collapsible:true,minimizable:false,maximizable:false">

            <div class="easyui-panel" style="margin-bottom:5px">
                <a href="javascript:void(0)" id="mb" class="easyui-menubutton" style="width:100px"
                   data-options="menu:'#mm',iconCls:'icon-edit'">单选操作</a>
                <div id="mm" style="width:150px;">
                    <div data-options="iconCls:'icon-folder_classic_add'" onclick="OpenAddNewCase(0);">新增文件夹</div>
                    <div data-options="iconCls:'icon-document_a4_add'" onclick="OpenAddNewCase(1);">新增案例</div>
                    <div class="menu-sep"></div>
                    <div data-options="iconCls:'icon-edit'" onclick="OpenEditCase();">修改信息</div>
                    <div data-options="iconCls:'icon-remove'" onclick="DeleteCase();">删除节点</div>
                    <div class="menu-sep"></div>
                    <div>上传案例</div>
                    <div data-options="iconCls:'icon-reload'">刷新节点</div>
                </div>

                <a href="javascript:void(0)" id="mb" class="easyui-menubutton" style="width:100px"
                   data-options="menu:'#mm2',iconCls:'icon-ok'">多选操作</a>
                <div id="mm2" style="width:150px;">
                    <div data-options="iconCls:'icon-folder_classic_add'" onclick="">新增文件夹</div>
                    <div data-options="iconCls:'icon-document_a4_add'" onclick="">新增案例</div>
                    <div class="menu-sep"></div>
                    <div data-options="iconCls:'icon-edit'" onclick="">修改信息</div>
                    <div data-options="iconCls:'icon-remove'" onclick="">删除节点</div>
                    <div class="menu-sep"></div>
                    <div>上传案例</div>
                </div>
            </div>
            <div id="caseTreeListDiv" style="overflow:auto;height:auto">
                <ul id="caseTreeList"></ul>
            </div>

        </div>



    </div>

    <div id="right" class="col-md-8" style="padding:5px">

        <div id="casePanel" class="easyui-panel" title="测试案例" style="display: block; width: 100%; padding:5px;" data-options="iconCls:'icon-documents',closable:false,
    collapsible:true,minimizable:false,maximizable:false">
           

           

        </div>

    </div>


</div>

<style type="text/css">
    .drag-item {
        list-style-type: none;
        display: block;
        padding: 5px;
        border: 1px solid #ccc;
        margin: 2px;
        width: 300px;
        background: #fafafa;
        color: #444;
    }

    .indicator {
        position: absolute;
        font-size: 9px;
        width: 10px;
        height: 10px;
        display: none;
        color: red;
    }
</style>

<script>
    $(function () {
        var indicator = $('<div class="indicator">>></div>').appendTo('body');
        $('.drag-item').draggable({
            revert: true,
            deltaX: 0,
            deltaY: 0
        }).droppable({
            onDragOver: function (e, source) {
                indicator.css({
                    display: 'block',
                    left: $(this).offset().left - 10,
                    top: $(this).offset().top + $(this).outerHeight() - 5
                });
            },
            onDragLeave: function (e, source) {
                indicator.hide();
            },
            onDrop: function (e, source) {
                $(source).insertAfter(this);
                indicator.hide();
            }
        });
    });
</script>

<div id="dialog" style="overflow:hidden;"></div>



   
    <script type="text/javascript">

    

        $(function () {
            layout();
            $('#caseTreeList').tree({
                checkbox: true,
                url: '/TestCase/projectListInit',
                lines:true,
                animate: true,
                dnd: true,
                onBeforeExpand: function (node, param) {
                    if ($(this).tree('getParent', node.target))
                        $(this).tree('options').url = "/TestCase/folderExpanded/" + node.id;
                    else
                        $(this).tree('options').url = "/TestCase/getFileByProject/" + node.PID;


                    //param.myattr = 'test';    // or change request parameter
                },
                formatter:function(node){
                    var s = node.text;
                    if (node.children){
                        s += ' <span style=\'color:blue\'>(' + node.children.length + ')</span>';
                    }
                    return s;
                },
                /*onLoadSuccess: function (node, data) {
                   
                    //为每个节点增加desc描述
                    $(".tree-node").each(function (i) {
                        //这里的this是dom对象,$(this)为jquery对象
                        var tn = $('#caseTreeList').tree('getNode', this);
                        $(this).attr("title", tn.text);
                    })
                    
                    
                },*/
                onDblClick: function (node) {
                    if (node.type == 1)
                        $('#casePanel').panel('refresh', 'caseView/' + node.id);
                },
                onDragOver: function (target, source) {
                    //('#tt2').tree('getData', target);
                    return false;
                }
            });
        });

        function layout() {
            var hh = $(window).height()-document.getElementById("caseTreeListDiv").offsetTop - 80;
            if (hh > 800) hh = 800;
            $("#caseTreeListDiv").css("max-height", hh);
        }
        
        $(window).resize(function () { layout() });



        //弹出层
        function OpenAddNewCase(type) {
            var node = $("#caseTreeList").tree("getSelected");
            if (type == 1 && node.type == 1) {
                var ParentNode = $("#caseTreeList").tree("getParent", node.target);
                $("#caseTreeList").tree("select", ParentNode.target);
                node = $("#caseTreeList").tree("getSelected");
            }
            

            var url = "/TestCase/AddNew?id=" + node.id + "&PID=" + node.PID + "&type=" + type;
            $('#dialog').dialog({
                title: 'Creat New',
                width: 400,
                height: 200,
                closed: false,
                cache: false,
                href: url,
                modal: true
            });
          
        }
   
        function OpenEditCase() {
            var node = $("#caseTreeList").tree("getSelected");
            if (typeof (node.id) == "undefined")
            {
                $.messager.alert('Error', '不能修改项目信息!', "warning");
                return;
            }
            var url = "/TestCase/EditCase/" + node.id;
            $('#dialog').dialog({
                title: 'Edit Info',
                width: 400,
                height: 200,
                closed: false,
                cache: false,
                href: url,
                modal: true
            });
           
        }

        function DeleteCase() {
            $.messager.confirm('Message', '确认删除?', function (r) {
                if (r) {
                    var node = $("#caseTreeList").tree("getSelected");
                    if (typeof (node.id) == "undefined") {
                        $.messager.alert('Error', '不能删除项目!', "warning");
                        return;
                    }
             
                    $.post("/TestCase/DeleteCase", { ID: node.id }, function (result) {
                        if (result == "True") {
                            var node = $("#caseTreeList").tree("getSelected");
                            $("#caseTreeList").tree("remove", node.target);
                        }
                    });
                    //删除
                }
            });
        }
      
    </script>

