@section Scripts {
@Styles.Render("~/Content/uploader")
@Scripts.Render("~/bundles/uploader")
    @Styles.Render("~/Content/easyui")
    @Scripts.Render("~/bundles/easyui")
<script src="~/Scripts/public.js"></script>
<style type="text/css">
    #zlight-nav {
        padding-top: 5px;
    }

        #zlight-nav input {
            padding-left: 3px;
            padding-right: 3px;
        }

    #right .panel {
        margin-bottom: 5px;
    }
</style>
}






<div class="row">
    <div id="left" class="col-md-4" style="padding:5px">

        <div id="caseListPanel" class="easyui-panel" title="测试案例列表" style="display: block; width: 100%; padding:5px;" data-options="iconCls:'icon-filter',closable:false,
    collapsible:true,minimizable:false,maximizable:false">

            <div class="easyui-panel" style="margin-bottom:5px">
                <a href="javascript:void(0)" id="mb" class="easyui-menubutton" style="width:100px"
                   data-options="menu:'#mm',iconCls:'icon-edit',duration:400">单选操作</a>
                <div id="mm" style="width:150px;">
                    <div data-options="iconCls:'icon-folder_classic_add'" onclick="OpenAddNewCase(0);">新增文件夹</div>
                    <div data-options="iconCls:'icon-document_a4_add'" onclick="OpenAddNewCase(1);">新增案例</div>
                    <div class="menu-sep"></div>
                    <div data-options="iconCls:'icon-edit'" onclick="OpenEditCase();">修改信息</div>
                    <div data-options="iconCls:'icon-remove'" onclick="DeleteCase();">删除节点</div>
                    <div class="menu-sep"></div>
                    <div data-options="iconCls:'icon-document_small_upload'" onclick="uploadCase();">上传案例</div>
                    <div data-options="iconCls:'icon-reload'" onclick="reloadNode();">刷新节点</div>
                </div>

                <a href="javascript:void(0)" id="mb" class="easyui-menubutton" style="width:100px"
                   data-options="menu:'#mm2',iconCls:'icon-ok',duration:400">多选操作</a>
                <div id="mm2" style="width:150px;">
                    <div data-options="iconCls:'icon-remove'" onclick="">批量删除(coding)</div>
                    <div data-options="iconCls:'icon-document_small_download'" onclick="downloadCase()">下载案例</div>
                    <div class="menu-sep"></div>
                    <div data-options="iconCls:'icon-movie_grey'" onclick="createScene()">生成场景模版</div>
                </div>
            </div>
            <div id="caseTreeListDiv" style="overflow:auto;max-height:500px">
                <ul id="caseTreeList"></ul>
            </div>

        </div>
        <div style="padding-top:5px"></div>
        <div id="stepControl" class="easyui-panel" title="测试组件" style="display: block; width: 100%; padding:5px;" data-options="iconCls:'icon-view_outline_detail',closable:false,
    collapsible:true,minimizable:false,maximizable:false">

            <div class="easyui-tabs" style="width:100%;">
                <div title="基础组件" style="padding:10px">
                    <ul id="controlTreeListF"></ul>
                </div>
                <div title="项目专属组件">
                    <ul id="controlTreeListP"></ul>
                </div>
                <div title="你的组件">
                    <ul id="controlTreeListU"></ul>
                </div>
            </div>
        </div>
    </div>
    
    <div id="right" class="col-md-8" style="padding:5px">
        
        <div id="scriptPanel" class="easyui-panel" title="编辑案例" style="display: block; width: 100%; padding:5px;" data-options="iconCls:'icon-documents',closable:false,
    collapsible:true,minimizable:false,maximizable:false">

        </div>

    </div>


</div>

<div class="modal fade" data-backdrop="static" id="UpLoadModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" style="position: absolute; top: 0px; right: 0px; z-index: 1;" 
                    data-dismiss="modal" aria-hidden="true" >
                &times;
            </button>
            <div class="modal-body" style="padding:0px;">
                <div id="uploader">
                    <p>
                        你的浏览器没有Flash支持，请安装最新的Flash！
                    </p>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

 <div id="ContextMenu"  class="easyui-menu" style="width:150px;">
                    <div data-options="iconCls:'icon-edit'" onclick="OpenEditCase();">修改信息</div>
                    <div data-options="iconCls:'icon-remove'" onclick="DeleteCase();">删除节点</div>
                    <div class="menu-sep"></div>
                    <div data-options="iconCls:'icon-reload'" onclick="reloadNode();">刷新节点</div>
</div>

<div id="dialog" style="padding: 10px 60px 10px;overflow:hidden;"></div>

<input id="runParam" type="hidden" value="" />
    
    <script type="text/javascript">

        $(function () {
            $.messager.progress({
                title: '请稍后',
                msg: '案例数据加载中...'
            });
            $('#caseTreeList').tree({
                checkbox: true,
                url: '/TestCase/projectListInit',
                lines:true,
                animate: true,
                pointType: ["append", "append", "append", "append"],
                dnd: true,
                onBeforeExpand: function (node, param) {
                    if ($(this).tree('getParent', node.target))
                        $(this).tree('options').url = "/TestCase/folderExpanded/" + node.id;
                    else
                        $(this).tree('options').url = "/TestCase/getFileByProject/" + node.PID;
                },
                formatter: function (node) {
                    var s;
                    if (node.mark)
                        s = '<span title="' + node.mark + '">' + node.text + '</span>';
                    else
                        s = node.text;
                    return s;
                },
                onLoadSuccess: function (node) {
                    if (node && node.checked) {
                        var children = $(this).tree('getChildren', node.target);
                        //console.info(children);
                        for (var i = 0; i < children.length; i++) {
                            $(this).tree('check', children[i].target);
                        }
                    }
                    $.messager.progress('close');

                },
                onClick: function (node) {
                    if (node.type == 1)
                        $('#scriptPanel').panel('refresh', 'scriptView/' + node.id);
                },
                onDragOver: function (target, source) {
                    if ($(source.target).parents("#caseTreeList").length == 1)//只接受自己的节点
                    {
                        if ($(this).tree("getNode", target).type == 1)
                            return false;
                        else
                            return true;
                    } else
                        return false;
                    
                },
                onBeforeDrag: function (node) {
                    if (!$(this).tree("getParent", node.target))//根节点
                        return false;
                },
                onBeforeDrop: function (target, source, point) {
                    var sourceID = source.id;
                    var targetNode = $(this).tree("getNode", target);

                    var targetID;
                    var type;

                    if (targetNode.PID)
                    {
                        type = 0;
                        targetID = targetNode.PID;
                    } else
                    {
                        type = 1;
                        targetID = targetNode.id;
                    }

                    //动态加载加排序问题多多 ,暂时这么处理咯
                    var ret = sortCase(targetID, sourceID, type);
                    if(ret)
                    {
                        ///easyUI 逻辑已修改 不需要这样处理,详情请查看easyUI 脚本 case-2注释
                        //var sp = $(this).tree("getParent", source.target);
                        //if (sp.children.length == 1)
                        //{
                            //$(this).tree("reload", sp.target);
                        //}else
                            $(this).tree("remove", source.target);

                        $(this).tree("reload", target);
                    } else
                    {
                        alert("error");
                    }
                    
                    return false;
                    
                    
                },
                onContextMenu: function (e, node) {
                    e.preventDefault();
                    $(this).tree('select', node.target);
                    $('#ContextMenu').menu('show', {
                        left: e.pageX,
                        top: e.pageY
                    });
                }
            });

            $('#UpLoadModal').on('hidden.bs.modal', function () {
                $("#uploader").plupload("destroy");
                reloadNode();
            })
           
        });

        function sortCase(targetID, sourceID,type)
        {
            var ret = true;
            $.ajax({
                url: 'sortCaseList',
                type: 'post',
                async: false,//使用同步的方式,true为异步方式
                data: { targetID: targetID, sourceID: sourceID, type: type },
                success: function (data) {
                    if (data != "True")
                        ret = false;
                },
                fail: function () {
                    ret = false;
                }
            });

            return ret;
        }

   
        function uploadCase()
        {
            var node = $("#caseTreeList").tree("getSelected");
            if (node.type == 1) {
                var ParentNode = $("#caseTreeList").tree("getParent", node.target);
                $("#caseTreeList").tree("select", ParentNode.target);
                node = $("#caseTreeList").tree("getSelected");
            }
            var str;
            if (node.PID)
                str = "PID=" + node.PID;
            else
                str = "baseID=" + node.id;
         
            $("#uploader").plupload({
                runtimes: 'gears,html5,flash',
                url: "/UploadFile/uploadCase?" + str, // 服务端上传路径
                max_file_size: '4mb', // 文件上传最大限制。
                chunk_size: '0', // 上传分块每块的大小，这个值小于服务器最大上传限制的值即可。
                unique_names: true, // 上传的文件名是否唯一
                //// 是否生成缩略图（仅对图片文件有效）
                //resize: { width: 320, height: 240, quality: 90 },
                ////  这个数组是选择器，就是上传文件时限制的上传文件类型
                filters: [{ title: "案例xml文件", extensions: "xml" }],
                dragdrop: false,
                unique_names: true
            });

            var uploader = $("#uploader").plupload("getUploader");
           
            uploader.bind('BeforeUpload', function (up, file) {
                up.setOption("multipart_params", { "originalName": file.name });
            });
            $('#UpLoadModal').modal();
        }

        //展开check的节点
        function expandCheck()
        {
            var checkNodes = $("#caseTreeList").tree("getChecked");
            var expandFlag = false;

            for (var i = 0; i < checkNodes.length; i++)
            {
                if (checkNodes[i].state == "closed") {
                    $("#caseTreeList").tree("expandAll", checkNodes[i].target);
                    expandFlag = true;
                }
                
            }


            if (expandFlag)
                expandCheck();
        }


        //弹出层
        function OpenAddNewCase(type) {
            var node = $("#caseTreeList").tree("getSelected");
            if (node.type == 1) {
                var ParentNode = $("#caseTreeList").tree("getParent", node.target);
                $("#caseTreeList").tree("select", ParentNode.target);
                node = $("#caseTreeList").tree("getSelected");
            }
            

            var url = "/TestCase/AddNew?id=" + node.id + "&PID=" + node.PID + "&type=" + type;
            $('#dialog').dialog({
                title: 'Creat New',
                width: 400,
               
                closed: false,
                cache: false,
                href: url,
                modal: true
            });
          
        }
   
        function OpenEditCase() {
            var node = $("#caseTreeList").tree("getSelected");
            if (typeof (node.id) == "undefined")
            {
                $.messager.alert('Error', '不能修改项目信息!', "warning");
                return;
            }
            var url = "/TestCase/EditCase/" + node.id;
            $('#dialog').dialog({
                title: 'Edit Info',
                width: 400,
                closed: false,
                cache: false,
                href: url,
                modal: true
            });
           
        }

        function DeleteCase() {

            var node = $("#caseTreeList").tree("getSelected");

            var msg = ' <span style=\'color:blue\'>' + node.text + '</span>';
            $.messager.confirm('Message', '确认删除:' + msg + '?', function (r) {
                if (r) {
                    
                    if (typeof (node.id) == "undefined") {
                        $.messager.alert('Error', '不能删除项目!', "warning");
                        return;
                    }
             
                    $.post("/TestCase/DeleteCase", { ID: node.id }, function (result) {
                        if (result == "True") {
                            var node = $("#caseTreeList").tree("getSelected").target;
                            var nodeParent = $("#caseTreeList").tree("getParent", node);
                          
                            //easyUI 逻辑已修改 不需要这样处理,详情请查看easyUI 脚本 case-2注释
                            //if (nodeParent.children.length <= 1)//如果删除最后一条会有问题
                            //    $('#caseTreeList').tree("reload", nodeParent.target);//刷新
                            //else
                                $("#caseTreeList").tree("remove", node);
                            
                            
                            
                        }
                    });
                    //删除
                }
            });
        }


        function reloadNode() {
            var selectNode = $('#caseTreeList').tree("getSelected").target;
            $('#caseTreeList').tree("reload", selectNode);//刷新

        }


        function createScene() {
            var CheckedNode = $('#caseTreeList').tree("getChecked")
            var cnt = CheckedNode.length;
            var caseID = [];
            for (var i = 0; i < cnt; i++) {
                if (CheckedNode[i].type == 1)
                    caseID.push(CheckedNode[i].id);
            }
            if (caseID.length == 0) return;

            var data = { ids: caseID };

            $.download('/TestCase/createScene', data, 'post');

        }

        function downloadCase() {
            var CheckedNode = $('#caseTreeList').tree("getChecked")
            var cnt = CheckedNode.length;
            var caseID = [];
            for (var i = 0; i < cnt; i++) {
                if (CheckedNode[i].type == 1)
                    caseID.push(CheckedNode[i].id);
            }
            if (caseID.length == 0) {
                $.messager.alert('warning', '请先勾选案例!', "warning");
                return;
            }
            var data = { ids: caseID };

            $.download('/TestCase/downloadCase', data, 'post');

        }
        
        jQuery.download = function (url, data, method) {    // 获得url和data
            if (url && data) {
                // data 是 string 或者 array/object
                data = typeof data == 'string' ? data : unescape(jQuery.param(data));    // 把参数组装成 form的  input
                var inputs = '';
                jQuery.each(data.split('&'), function () {
                    var pair = this.split('=');
                    inputs += '<input type="hidden" name="' + pair[0] + '" value="' + pair[1] + '" />';
                });        // request发送请求
                jQuery('<form action="' + url + '" method="' + (method || 'post') + '">' + inputs + '</form>')
                .appendTo('body').submit().remove();
            };
        };
      
    </script>

