@using openCaseMaster.Models
@using openCaseMaster.ViewModels
@model admin_user

<div class="modal-header">
    <button type="button" class="close"
            data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title" id="myModalLabel">
        个人设置
    </h4>
</div>
<div class="modal-body">



    @Html.Partial("_ChangeName",new ChangeNameModel{name = Model.Name})
    
    @Html.Partial("_ChangePassword", new ChangePasswordModel())
</div>

