
@using openCaseMaster.ViewModels;
@model userInfoModel

@section Scripts {
@Styles.Render("~/Content/uploader")
@Scripts.Render("~/bundles/uploader")
<link rel="stylesheet" href="~/Scripts/highlight/solarized_dark.min.css">
<script src="~/Scripts/highlight/highlight.min.js"></script>

<link rel="stylesheet" href="~/Scripts/loading/ladda-themeless.min.css">
<script src="~/Scripts/loading/spin.min.js"></script>
<script src="~/Scripts/loading/ladda.min.js"></script>


<script>
  
    
    $(function () {
        hljs.initHighlightingOnLoad();

        var l = Ladda.create(document.getElementById("uploadF"));

        //实例化一个plupload上传对象
        var uploaderF = new plupload.Uploader({
            browse_button: 'uploadF', //触发文件选择对话框的按钮，为那个元素id
            runtimes: 'html5',
            url: '/UploadFile/userFramework', // 服务端上传路径
            unique_names: false, // 上传的文件名是否唯一
            max_file_size: '128kb', // 文件上传最大限制。
            //// 是否生成缩略图（仅对图片文件有效）
            //resize: { width: 320, height: 240, quality: 90 },
            ////  这个数组是选择器，就是上传文件时限制的上传文件类型
            filters: [{ title: "xml", extensions: "xml" }
            ],
            multi_selection: false

        });
        //在实例对象上调用init()方法进行初始化
        uploaderF.init();

        //绑定各种事件，并在事件监听函数中做你想做的事
        uploaderF.bind('FilesAdded', function (uploader, files) {
            //$.messager.progress({ title: '请稍后', msg: '上传中...' });
            uploader.start();
            l.start();
        });

        uploaderF.bind('Error', function (uploader, errObject) {
            l.stop();
            alert("上传失败,请检查xml格式或联系管理员");
        });

        //绑定各种事件，并在事件监听函数中做你想做的事
        uploaderF.bind('FileUploaded', function (up, file, result) {

            $("#framework code").html(hljs.highlight("xml", result.response).value);
            l.stop();
        });
    });
</script>
}



<div style="padding-top:5px"></div>

<div class="panel panel-info">
   <div class="panel-heading" style="cursor: pointer;">
      <h3 class="panel-title" data-toggle="collapse" data-target="#framework">你的个人框架</h3> 
   </div>
   <div class="panel-body collapse in" id="framework" >
       <p>
<button type="button" class="btn btn-primary ladda-button" data-style="expand-left" id="uploadF">上传框架文件</button>
           </p>
    <pre><code class="xml">
@Model.framework
   </code></pre>
   </div>
</div>

