@model openCaseMaster.ViewModels.openTaskModel

<div id="reply" class="panel panel-default">
    <div class="panel-heading"><b>测试app:</b><a href="#">@Model.appName</a></div>
    <div class="panel-body">

        <table class="table" style="table-layout:fixed">

            <thead>
                <tr>
                    <th width="15%">步骤</th>
                    <th>描述</th>
                    <th style="width:40%;">样例图</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 0;}
                @foreach (var s in Model.steps)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>@s.describe</td>
                        <td><img class="carousel-inner img-responsive img-rounded demoImg" src="@s.demoImg" /></td>
                    </tr>

                }

            </tbody>
        </table>

    </div>

</div>
