
@section Scripts {

      @Scripts.Render("~/bundles/markdownView")

    @Styles.Render("~/Content/markdownView")
    <script type="text/javascript">
        $(function () {

            $.get('/Content/markdown.txt', function (md) {
                $("#code").html(md);
                $("#append-test").val(md);

                $(".markdownView").each(function () {
                    editormd.markdownToHTML($(this), {
                        htmlDecode: "style,script,iframe",  // you can filter tags decode
                        emoji: true,
                        taskList: true,
                        tex: false,  // 默认不解析
                        flowChart: false,  // 默认不解析
                        sequenceDiagram: false,  // 默认不解析
                    });
                })
            });

           


        });
    </script>

}


<div class="panel markdown panel-default">
        <div class="panel-body">
            <h1 style="font-size: 26px !important;   text-align: center;  margin-bottom: 30px !important;">Markdown 教程</h1>
            <div class="row">
                <div class="col-md-6">
                    <pre style="border:none; border-radius: 0px;"><code id="code"></code></pre>
                </div>
                <div class="col-md-6">
                    

                    <div class="markdownView">
                            <textarea id="append-test" style="display:none;"></textarea>
                        </div>

                </div>
            </div>
        </div>
    </div>