@if (Request.IsAuthenticated)
{
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var chat = $.connection.UserHub;
            chat.client.init = function (cnt) {
                $(".notification-count .notice").css("display","block");
                $(".notification-count .notice").html(cnt);
            }

            chat.client.push = function (cnt) {
                $(".notification-count .notice").css("display", "block");
                var baseCnt = parseInt($(".notification-count .notice").html());
                $(".notification-count .notice").html(baseCnt + cnt);
            }

            $.connection.hub.start().done(function () {
                chat.server.init();
            });
        });
    </script>



    using (Html.BeginForm("LogOff", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li class="notification-count">
                <a href="/User/notification">消息</a>
                    <div class="notice">0</div>
               
            </li>
            <li>
                <a href="/User/userInfo">你好，@User.Identity.Name!</a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">注销</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("注册", "Register", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("登录", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
