
@{
    int page = ViewBag.page;
    //int? row = ViewBag.row;
    int prev = page > 1 ? page - 1 : 1;
    int next = page + 1;
    
    
}

<div class="panel-footer clearfix">
    <ul class="pagination">
        <li class="prev previous_page "><a rel="prev" href="/topics?page=20">← 上一页</a></li>
        <li><a rel="start" href="/topics?page=1">1</a></li>
        <li><a href="/topics?page=2">2</a></li>
        <li class="disabled"><a href="#">…</a></li>
        <li><a href="/topics?page=19">19</a></li>
        <li><a rel="prev" href="/topics?page=20">20</a></li>
        <li class="active"><a href="/topics?page=21">21</a></li>
        <li><a rel="next" href="/topics?page=22">22</a></li>
        <li><a href="/topics?page=23">23</a></li>
        <li class="disabled"><a href="#">…</a></li>
        <li><a href="/topics?page=199">199</a></li>
        <li><a href="/topics?page=200">200</a></li>
        <li class="next next_page "><a rel="next" href="/topics?page=22">下一页 →</a></li>
    </ul>
</div>