@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        div {
            display: block;
        }

        .error {
            margin: 169px auto 0;
            width: 404px;
        }

            .error .header {
                overflow: hidden;
                font-size: 1.8em;
                line-height: 1.2;
                margin: 0 0 .33em .33em;
            }

            .error .content {
                padding: 2em 1.25em;
                border: 1px solid #babbbc;
                border-radius: 5px;
                background: #f7f7f7;
                text-align: center;
            }

            .error p {
                margin: 0 0 1.7em;
                color: #999;
            }
    </style>
</head>
<body>
    <div class="page">
        <div class="error">
            <h1 class="header">
                出错了
            </h1>
            <div class="content">
                <p>
                    <strong>@ViewBag.err</strong>
                </p>
              
                <hr>
                <p>
                    <a href="/topic/index">返回首页</a>
                    <span>或者</span>
                    <a href="javascript:;" id="js-history-back">返回上页</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
